<!DOCTYPE html>
<html>
  <head>
    <title>TesteRuby</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
  <!-- Include Toastr JS and CSS -->
  <%= javascript_include_tag 'toastr' %>
  <%= stylesheet_link_tag 'toastr' %>
  <body>
    <div class="container mt-4 col-md-8 col-lg-6">
      <% flash.each do |key, value| %>
        <script type="text/javascript">
          toastr.<%= key %>("<%= value %>");
        </script>
      <% end %>

      <%= yield %>
    </div>


  </body>
</html>
